:root {
    --background-color4: gainsboro;
    --background-color13: #F5F5F5;
    --text-color6: black;
    --text-color12: darkslateblue;
}

@media (prefers-color-scheme: dark) { /* Ce media permet de détecter si l'utilisateur du site est en mode sombre ou non, s'il est en mode sombre, les variables de couleurs changeront avvec celles qui sont définies ci-dessous */
    :root {
        --background-color4: #313338;
        --background-color13: #6E6E6E;
        --text-color6: #B4B4B4;
        --text-color12: #f9f9f9;
    }
}

* { /* On applique une police et une taille de police pour toute la page */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

body { /* On applique une couleur de fond, on aligne tous les textes et on définit l'espacement vertical entre les lignes de texte du corps de la page */
    background-color: var(--background-color4);
    line-height: 1.6;
    text-align: center;
}

img{ /* On définit les dimensions des images */
    max-width: 470px;
    max-height: 470px;
}

main h1 { /* On définit la taille de police des gros titres ainsi que leurs couleurs et leur espacement */
    font-size: 32px;
    color: var(--text-color12);
    margin-bottom: 20px;
}

main h2, main h3 { /* On définit la taille de police des gros titres ainsi que leurs couleurs et leur espacement */
    color: var(--text-color12);
    margin-bottom: 15px;
    font-size: 24px;
}

main section article p { /* On définit le centrage des paragraphes et leur espacement */
    text-align: justify;
    margin-bottom: 20px;
}

article a { /* On retire les défauts du lien pour lui ajouter une couleur et le grossir */
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

@media (max-width: 768px) { /* Les styles définis dans ce bloc ne s'appliqueront que si la hauteur de le viewport est inférieur ou égal à 780 pixels correspondant à des écran de moyen hauteur en modifiant les dimensions et l'utilisation de flexbox*/
    main {
        margin: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

.container{ /* On définit le container principal (correspondant à la page) en stylisant les couleurs, l'arrière plan, les marges et comment seront organisés les objets dans le container */
    background-color: var(--background-color4);
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* On applique au éléments du container des dimensions, du style de bordure, des couleurs de texte et d'arrière plan ainsi que des marges */
.contenu{
    width: 500px;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color13);
    color: var(--text-color6);
}

.entete { /* On colore des textes de entêtes */
    color: var(--text-color6);
}

.boite{ /* Les sous-boîtes sont organisés pour pas qu'il n'y ait de problème d'organisation dans le grand container */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenu:hover img {
    transform: scale(1.05);
}

.contenu:hover { /* Au survol du curseur sur les articles, ces derniers descendent légèrement en marquant plus fortement l'ombre de la bordure */
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.entete a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: grey;
}

article {
    transition: transform 0.3s ease; /* Ajout d'une animation de transition */
}

#boutique:hover:hover{
    font-size: larger;
    transform: translateY(-5px);
}